In [1]:
import pandas as pd
import numpy as np
f1=pd.read_csv(r'C:\Users\User\Desktop\fertilizers\Untitled Folder\UdupiSoil-Data-_1_.csv')
f2=pd.read_csv(r'C:\Users\User\Desktop\fertilizers\Untitled Folder\crop_recommendation.csv')
f3=pd.read_csv(r'C:\Users\User\Desktop\fertilizers\Untitled Folder\Fertilizer Prediction.csv')

In [2]:
f1.columns = f1.columns.str.strip()
f2.columns = f2.columns.str.strip()
f3.columns = f3.columns.str.strip()

In [3]:
f2['Temperature'] = f2['Temperature'].apply(pd.to_numeric, errors='coerce').round()
f2['Humidity'] = f2['Humidity'].apply(pd.to_numeric, errors='coerce').round()
f3['Fertilizer Name']=f3['Fertilizer Name'].astype(str)

In [4]:
merged_ds=pd.merge(f3,f2,on=['N','P','K','Temperature','Humidity'],how='left')

In [5]:
merged_ds.head()

,Temperature,Humidity,Moisture,Soil Type,Crop Type,N,K,P,Fertilizer Name,ph,rainfall,CropType
0,26,52,38,Sandy,Maize,37,0,0,Urea,NaN,NaN,NaN
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP,NaN,NaN,NaN
2,34,65,62,Black,Cotton,7,9,30,14-35-14,NaN,NaN,NaN
3,32,62,34,Red,Tobacco,22,0,20,28-28,NaN,NaN,NaN
4,28,54,46,Clayey,Paddy,35,0,0,Urea,NaN,NaN,NaN

In [216]:
df=pd.DataFrame(merged_ds)
df.to_csv('merged_ds')

In [6]:
import pandas as pd
import numpy as np
f1=pd.read_csv(r'C:\Users\User\Desktop\fertilizers\Untitled Folder\UdupiSoil-Data-_1_.csv')
f1.columns = f1.columns.str.strip()
f1['K'] = pd.to_numeric(f1['K'], errors='coerce')
f1['EC(dS/m'] = pd.to_numeric(f1['EC(dS/m'], errors='coerce')
# Group the data by place and calculate the aggregate values for each column
aggregated_data = f1.groupby('Place').agg({'PH': 'mean','OC(%)': 'mean', 'N': 'mean', 'P': 'mean', 'K': 'mean', 'S(ppm)': 'mean', 'Zn(ppm)': 'mean', 'B(ppm)': 'mean', 'Fe(ppm)': 'mean', 'Mn(ppm)': 'mean', 'Cu(ppm)': 'mean','EC(dS/m':'mean'})

# Reset the index to remove the hierarchical structure
aggregated_data = aggregated_data.reset_index()

# Save the aggregated data to a new CSV file
#aggregated_data.to_csv('aggregated_soil_concentration_udupi.csv', index=False)
aggregated_data.head(20)

,Place,PH,OC(%),N,P,K,S(ppm),Zn(ppm),B(ppm),Fe(ppm),Mn(ppm),Cu(ppm),EC(dS/m
0,Perampalli,5.510000,0.628571,46.577143,7.363091,232.432200,15.268890,0.412000,0.136800,9.790000,20.740000,1.326000,0.070000
1,Kukkundoor,5.731250,1.565955,116.037249,11.075315,283.350113,4.101484,1.697500,0.462650,38.390625,8.617375,3.467250,1.194375
2,108 Kalthoor,5.855455,2.024741,150.033292,229.562578,313.043436,24.474366,2.011027,0.541673,37.041582,3.332191,1.748436,0.093636
3,108 Kalthur,5.580000,1.386555,102.743697,245.604310,498.152850,19.683000,1.293500,0.383800,33.436000,21.404500,1.135000,0.205000
4,108 kalttor,5.157419,1.265064,93.741216,40.358445,149.411684,9.609864,1.130258,0.202013,43.057290,9.902452,3.021419,0.062903
5,108 katathur,5.960000,0.549618,40.726718,222.871425,57.129800,7.776000,0.078000,0.790400,24.900000,1.488000,1.008000,0.080000
6,108Kalthoor,5.010000,0.939394,69.609091,146.467490,312.928200,91.288470,0.608000,0.334400,31.060000,0.038800,2.259400,0.060000
7,34 Kudi,5.349940,1.395341,103.394790,103.122998,188.466683,15.589149,1.223593,0.283885,37.582192,6.252491,2.068826,0.111796
8,34 kudi,5.435000,1.136455,84.211294,30.016866,206.196188,13.319670,1.324000,0.548720,39.702000,2.656800,0.781200,0.131000
9,38 Kalthur,5.568983,1.035392,76.722564,68.426070,161.079166,10.411932,0.605864,0.252990,28.135797,9.096610,1.539254,0.084576
10,38 kalthur,5.770667,1.032653,76.519592,169.572178,154.030587,15.660000,0.563467,0.251307,36.118667,6.129067,1.908267,0.086000
11,38th Kalthoor,5.103200,1.321200,97.900920,178.451647,149.445296,8.853240,0.741760,0.464240,58.421600,3.241600,0.718640,0.182400
12,41 Shiroor,5.975755,0.942987,69.875357,76.400985,208.625128,14.891774,0.660830,0.364226,35.349491,3.702453,1.003660,0.131981
13,76 Badagubettu,6.165000,1.785000,132.268500,61.456080,144.500652,15.885000,4.685675,0.490200,56.719050,11.551525,2.057975,0.132500
14,76 Badagubettu,6.302917,1.316871,97.580174,207.097081,385.635467,30.253500,1.737583,0.259667,21.728708,1.957750,1.410875,0.250208
15,80 Badagubettu,5.506024,1.304302,96.648793,157.165404,241.544573,9.652169,0.809146,0.266092,38.392439,3.623957,1.331434,0.157711
16,81 Badagubettu,5.070000,1.677725,124.319431,2.062922,339.983800,8.771490,0.480000,0.304000,50.740000,1.228000,1.378000,0.160000
17,82 Kudi,6.352273,1.115035,82.624091,215.334319,320.647482,13.873091,0.891909,0.259782,15.816455,2.523909,0.445182,0.169545
18,82 Kudi,5.246667,1.571558,116.452481,79.834991,88.731933,16.550322,1.579333,0.111467,56.732222,4.599000,3.843111,0.076111
19,92 Heroor,5.115000,1.574419,116.664453,119.431082,114.203700,6.636630,1.601286,0.167200,46.321429,7.539571,17.337143,0.057857

In [219]:

#df=pd.DataFrame(aggregated_data)

In [7]:
f4=pd.read_csv(r'C:\Users\User\Desktop\fertilizers\Untitled Folder\UdupiSoil-Data-_1_ - Copy.csv')
ph_ranges_by_place = f4.groupby('Place')['PH','OC(%)', 'N', 'P', 'K', 'S(ppm)', 'Zn(ppm)', 'B(ppm)', 'Fe(ppm)', 'Mn(ppm)', 'Cu(ppm)'].agg([('min', 'min'), ('max', 'max'),('mean','mean')]).reset_index()

# Display the result

print(ph_ranges_by_place)

C:\Users\User\AppData\Local\Temp\ipykernel_20512\2018157068.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  ph_ranges_by_place = f4.groupby('Place')['PH','OC(%)', 'N', 'P', 'K', 'S(ppm)', 'Zn(ppm)', 'B(ppm)', 'Fe(ppm)', 'Mn(ppm)', 'Cu(ppm)'].agg([('min', 'min'), ('max', 'max'),('mean','mean')]).reset_index()

               Place    PH                     OC(%)                      \
                       min   max      mean       min       max      mean
0         Perampalli  5.51  5.51  5.510000  0.628571  0.628571  0.628571
1         Kukkundoor  5.39  6.28  5.731250  0.452261  2.653266  1.565955
2       108 Kalthoor  4.82  6.47  5.855455  1.181818  2.735850  2.024741
3        108 Kalthur  5.15  6.41  5.580000  0.731092  1.941176  1.386555
4        108 kalttor  4.72  5.97  5.157419  0.542857  2.584158  1.265064
..               ...   ...   ...       ...       ...       ...       ...
523        ulloor 75  5.55  5.55  5.550000  1.441048  1.441048  1.441048
524        ulloor-74  5.28  5.78  5.574286  0.630000  2.160000  1.345714
525         ullor-74  5.33  6.34  5.707143  0.120000  2.310000  1.572857
526         yadthadi  4.12  7.41  5.598115  0.218329  2.680851  1.146623
527  yadyadi matyadi  5.06  5.13  5.095000  1.377990  2.153110  1.866029

              N                          ...    B(ppm)  Fe(ppm)            \
            min         max        mean  ...      mean      min       max
0     46.577143   46.577143   46.577143  ...  0.136800   9.7900    9.7900
1     33.512563  196.607035  116.037249  ...  0.462650  12.6360   52.1800
2     87.572727  202.726485  150.033292  ...  0.541673  13.4083   43.4349
3     54.173950  143.841176  102.743697  ...  0.383800   5.2620   61.6800
4     40.225714  191.486139   93.741216  ...  0.202013   8.4580   61.6800
..          ...         ...         ...  ...       ...      ...       ...
523  106.781659  106.781659  106.781659  ...  0.197600  41.0200   41.0200
524   46.683000  160.056000   99.717429  ...  0.323074   1.4280   69.0400
525    8.892000  171.171000  116.548714  ...  0.394869   6.6660  147.6200
526   16.178167  198.651064   84.964730  ...  0.182400   2.3780   66.2000
527  102.109091  159.545455  138.272727  ...  0.554800  42.8800  120.2400

                Mn(ppm)                     Cu(ppm)
          mean      min      max       mean     min      max      mean
0     9.790000  20.7400  20.7400  20.740000   1.326   1.3260  1.326000
1    38.390625   0.8680  22.8000   8.617375   0.328  11.0300  3.467250
2    37.041582   0.3682   5.5573   3.332191   0.534   3.0235  1.748436
3    33.436000   1.9160  69.1000  21.404500   0.196   1.9920  1.135000
4    43.057290   3.2180  42.6400   9.902452   0.372   7.8840  3.021419
..         ...      ...      ...        ...     ...      ...       ...
523  41.020000  15.8060  15.8060  15.806000   4.496   4.4960  4.496000
524  32.042286   3.4100  18.4520   8.710571   0.392   0.4560  0.424000
525  60.749000   3.6960  32.0600   9.191429   0.368   1.5420  0.677286
526  28.887410   0.2280  44.9800   6.000344   0.024   7.0880  0.856967
527  98.700000   0.3880   5.3340   2.347500   6.052   9.4360  7.974500

[528 rows x 31 columns]

C:\Users\User\AppData\Local\Temp\ipykernel_20512\2018157068.py:2: FutureWarning: ['K'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  ph_ranges_by_place = f4.groupby('Place')['PH','OC(%)', 'N', 'P', 'K', 'S(ppm)', 'Zn(ppm)', 'B(ppm)', 'Fe(ppm)', 'Mn(ppm)', 'Cu(ppm)'].agg([('min', 'min'), ('max', 'max'),('mean','mean')]).reset_index()

In [221]:
#ph_ranges_by_place.to_csv('ph_ranges_by_place.csv', index=False)
#df=pd.DataFrame(ph_ranges_by_place)

               Place    PH                     OC(%)                      \
                       min   max      mean       min       max      mean
0         Perampalli  5.51  5.51  5.510000  0.628571  0.628571  0.628571
1         Kukkundoor  5.39  6.28  5.731250  0.452261  2.653266  1.565955
2       108 Kalthoor  4.82  6.47  5.855455  1.181818  2.735850  2.024741
3        108 Kalthur  5.15  6.41  5.580000  0.731092  1.941176  1.386555
4        108 kalttor  4.72  5.97  5.157419  0.542857  2.584158  1.265064
..               ...   ...   ...       ...       ...       ...       ...
523        ulloor 75  5.55  5.55  5.550000  1.441048  1.441048  1.441048
524        ulloor-74  5.28  5.78  5.574286  0.630000  2.160000  1.345714
525         ullor-74  5.33  6.34  5.707143  0.120000  2.310000  1.572857
526         yadthadi  4.12  7.41  5.598115  0.218329  2.680851  1.146623
527  yadyadi matyadi  5.06  5.13  5.095000  1.377990  2.153110  1.866029

              N                          ...    B(ppm)  Fe(ppm)            \
            min         max        mean  ...      mean      min       max
0     46.577143   46.577143   46.577143  ...  0.136800   9.7900    9.7900
1     33.512563  196.607035  116.037249  ...  0.462650  12.6360   52.1800
2     87.572727  202.726485  150.033292  ...  0.541673  13.4083   43.4349
3     54.173950  143.841176  102.743697  ...  0.383800   5.2620   61.6800
4     40.225714  191.486139   93.741216  ...  0.202013   8.4580   61.6800
..          ...         ...         ...  ...       ...      ...       ...
523  106.781659  106.781659  106.781659  ...  0.197600  41.0200   41.0200
524   46.683000  160.056000   99.717429  ...  0.323074   1.4280   69.0400
525    8.892000  171.171000  116.548714  ...  0.394869   6.6660  147.6200
526   16.178167  198.651064   84.964730  ...  0.182400   2.3780   66.2000
527  102.109091  159.545455  138.272727  ...  0.554800  42.8800  120.2400

                Mn(ppm)                     Cu(ppm)
          mean      min      max       mean     min      max      mean
0     9.790000  20.7400  20.7400  20.740000   1.326   1.3260  1.326000
1    38.390625   0.8680  22.8000   8.617375   0.328  11.0300  3.467250
2    37.041582   0.3682   5.5573   3.332191   0.534   3.0235  1.748436
3    33.436000   1.9160  69.1000  21.404500   0.196   1.9920  1.135000
4    43.057290   3.2180  42.6400   9.902452   0.372   7.8840  3.021419
..         ...      ...      ...        ...     ...      ...       ...
523  41.020000  15.8060  15.8060  15.806000   4.496   4.4960  4.496000
524  32.042286   3.4100  18.4520   8.710571   0.392   0.4560  0.424000
525  60.749000   3.6960  32.0600   9.191429   0.368   1.5420  0.677286
526  28.887410   0.2280  44.9800   6.000344   0.024   7.0880  0.856967
527  98.700000   0.3880   5.3340   2.347500   6.052   9.4360  7.974500

[528 rows x 31 columns]

C:\Users\User\AppData\Local\Temp\ipykernel_16924\1628783658.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  ph_ranges_by_place = f4.groupby('Place')['PH','OC(%)', 'N', 'P', 'K', 'S(ppm)', 'Zn(ppm)', 'B(ppm)', 'Fe(ppm)', 'Mn(ppm)', 'Cu(ppm)'].agg([('min', 'min'), ('max', 'max'),('mean','mean')]).reset_index()
C:\Users\User\AppData\Local\Temp\ipykernel_16924\1628783658.py:2: FutureWarning: ['K'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  ph_ranges_by_place = f4.groupby('Place')['PH','OC(%)', 'N', 'P', 'K', 'S(ppm)', 'Zn(ppm)', 'B(ppm)', 'Fe(ppm)', 'Mn(ppm)', 'Cu(ppm)'].agg([('min', 'min'), ('max', 'max'),('mean','mean')]).reset_index()